@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=GFS+Didot&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=GFS+Didot&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #fefefe;
    color: #11151C;
    font-family: "Figtree", sans-serif;
    font-size: 14px;
}

a {
    color: #B82B26;
}


header img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

header {
    background-color: #11151C;
    padding-bottom: 1em;
    text-align: center;
}

span {
    text-transform: uppercase;
    font-size: 2em;
}

h1 {
    font-family: "Prompt", sans-serif;
    color: #fefefe;
}

h2 {
    color: #fefefe;
}

h3 {
    font-family: "Prompt", sans-serif;
    padding: 30px 0px 30px 0px;
}

p {
    font-size: 1.3em;
}

.container {
    width: 45%;
}

main {
    padding-top: 2em;
}

.container-fluid {
    background-color: #11151C;
    color: #fefefe;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
}

.container-fluid h4 {
    text-align: center;
}

.container-fluid p {
    padding: 10px 0px 0px 10px;
    font-size: 1.5em;
}

.header {
    position: relative;
    width: 100%;
}

.outkast_gif {
    margin: 0 auto;
    display: block;
}

.chart img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.col-md-12 {
    justify-content: center;
}

footer {
    padding-top: 10px;
    text-align: center;
}